<!-- Loading screen overlay -->
<div class="breathe-loader" *ngIf="isLoading">
  <div></div>
  <span>{{loadingText}}</span>
</div>

<div class="payment-response" *ngIf="paymentProcessed">
  <span>{{paymentResponseText}}</span>
  <button (click)="paymentProcessed = false" class="breathe-submit-button">Dismiss</button>
</div>

<!-- Main page content-->
<div class="container-fluid">  
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col breathe-header">
          Update Profile
        </div>
      </div>
      <div class="row">
        <div class="col breathe-panel">
          <form class="mb-2" (submit)="save()">
              
            <div class="form-row form-group">
              <label class="col-sm-2 col-form-label">Full Name</label>
              <div class="col-sm-5">
                <input type="text" name="full_name" autocomplete="name" class="form-control" [(ngModel)]="tempUser.full_name" placeholder="Full Name" />
              </div>
            </div>


            <div class="form-row form-group">
              <label class="col-sm-2 col-form-label">Birth Date</label>
              <div class="col-sm-5">
                <div class="input-group">
                  <input type="number" name="birth_month" autocomplete="bday-month" class="form-control" [(ngModel)]="tempUser.birth_month" data-toggle="tooltip" title="Enter your birth month" placeholder="Month" />
                  <span class="input-group-text">/</span>
                  <input type="number" name="birth_year" autocomplete="bday-year" class="form-control" [(ngModel)]="tempUser.birth_year" data-toggle="tooltip" title="Enter your birth year" placeholder="Year" />
                </div>
              </div>
            </div>

            <div class="form-row" *ngIf="birthError">
              <div class="col">
                  <ngb-alert type="danger" (close)="birthError = false">Please input a valid birth date!</ngb-alert>
              </div>
            </div>
          
            <fieldset class="form-group">
              <div class="form-row">
                <legend class="col-sm-2 col-form-label pt-0">Gender</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input type="radio" name="gender" class="form-check-input" [(ngModel)]="tempUser.gender" value="male" />
                    <label class="form-check-label">Male</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="gender" class="form-check-input" [(ngModel)]="tempUser.gender" value="female" />
                    <label class="form-check-label">Female</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="gender" class="form-check-input" [(ngModel)]="tempUser.gender" value="other" />
                    <label class="form-check-label">Other</label>
                  </div>
                </div>
              </div>
            </fieldset>

            <div class="form-row form-group">
              <label class="col-sm-2 col-form-label">Height</label>
              <div class="col-sm-3 col-6 input-group">
                <input type="number" name="feet" class="form-control" [(ngModel)]="tempUser.feet" data-toggle="tooltip" title="Enter your height in feet" placeholder="Feet" />
                <div class="input-group-append">
                  <span class="input-group-text">ft</span>
                </div>
              </div>
              <div class="col-sm-3 col-6 input-group">
                <input type="number" name="inches" class="form-control" [(ngModel)]="tempUser.inches" data-toggle="tooltip" title="Enter your height in inches" placeholder="Inches" />
                <div class="input-group-append">
                  <span class="input-group-text">in</span>
                </div>
              </div>
            </div>

            <div class="form-row" *ngIf="heightError">
              <div class="col">
                <ngb-alert type="danger" (close)="heightError = false">Please input a valid height!</ngb-alert>
              </div>
            </div>

            <div class="form-row form-group">
              <label class="col-sm-2">Weight</label>
              <div class="col-sm-3 input-group">
                <input type="number" name="weight" class="form-control" [(ngModel)]="tempUser.weight" placeholder="Weight" />
                <div class="input-group-append">
                  <span class="input-group-text">lbs</span>
                </div>
              </div>
            </div>

            <div class="form-row" *ngIf="weightError">
              <div class="col">
                <ngb-alert type="danger" (close)="weightError = false">Please input a valid weight!</ngb-alert>
              </div>
            </div>
          

            <fieldset class="form-group">
              <div class="form-row">
                <legend class="col-sm-2 col-form-label pt-0">Weight Loss Goal</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input type="radio" name="goal" class="form-check-input" [(ngModel)]="tempUser.weight_goal" value="maintain" />
                    <label class="form-check-label">Maintain</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="goal" class="form-check-input" [(ngModel)]="tempUser.weight_goal" value="gradual" />
                    <label class="form-check-label">Gradual</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="goal" class="form-check-input" [(ngModel)]="tempUser.weight_goal" value="moderate" />
                    <label class="form-check-label">Moderate</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="goal" class="form-check-input" [(ngModel)]="tempUser.weight_goal" value="aggressive" />
                    <label class="form-check-label">Aggressive</label>
                  </div>
                </div>
              </div>
            </fieldset>

            <button type="submit" class="breathe-submit-button">Save Changes</button>
            <button type="button" class="breathe-cancel-button" (click)="cancel()">Cancel</button>
          
          </form>

          <ngb-alert *ngIf="showSuccess" type="success" (close)="showSuccess = false">Information successfully updated</ngb-alert>
        </div>
      </div>
    </div>

    <div class="col-md-4 breathe-panel mt-0">
      <div class="row breathe-header justify-content-between">
        <div class="col">
          Sync Status
        </div>
        <div class="col-auto" id="statusIcon">
          <img src="assets/breathe-icons/breathe-hr-danger.svg" class="breathe-icon-danger" *ngIf="tempUser.status != 'connected'" />
          <img src="assets/breathe-icons/breathe-hr-ok.svg" class="breathe-icon-okay" *ngIf="tempUser.status == 'connected'" />        </div>
      </div>
      <div class="row">
        <div class="col mt-2">
            <div class="row py-2">
              <div class="col-sm-4">
                HR Source
              </div>
              <div class="col-auto text-capitalize">
                {{tempUser.token_source ? tempUser.token_source : "N/A"}}
              </div>
            </div>

            <div class="row py-2">
              <div class="col-sm-4">
                Status
              </div>
              <div class="col-auto text-capitalize" [ngClass]= "{'breathe-status-danger': tempUser.status != 'connected'}">
                {{tempUser.status ? tempUser.status : "Unknown"}}
              </div>
            </div>

            <div class="row py-2">
              <div class="col-sm-4">
                Last HR Sync
              </div>
              <div class="col-auto">
                {{hrSync ? hrSync : "Unknown"}}
              </div>
            </div>

            <div class="row py-2">
              <div class="col-sm-4">
                Last sync attempt
              </div>
              <div class="col-auto">
                {{syncAttempt ? syncAttempt : "Unknown"}}
              </div>
            </div>

            <button (click)="openStripeMonthly()">Monthly Subscription</button>
            <button (click)="openStripeAnnual()">Annual Subscription</button>


        </div>
      </div>
    </div>
  </div>

</div>