#statusIcon{
    height: 1.2rem;
}

#stripeCardChange{
    color: #007bff;
    cursor: pointer;
}

#stripeCardChange:hover{
    color: #004b9b;
}

#stripeCardDelete{
    color: #ff0000;
    cursor: pointer;
}

#stripeCardDelete:hover{
    color: #d30000;
}

.breathe-danger-button{
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #FFFFFF;
    background: #e60000;
    background: linear-gradient(#ff0000, #d30000);
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.5s;
}

.breathe-danger-button:hover{
    background: #fda41e;
    background: linear-gradient(#ff3636, #d32727);
}


/* Dialogue that displays results of subscription attempt */
/*
    <div class="payment-response" *ngIf="paymentProcessed">
        <span>{{paymentResponseText}}</span>
        <button (click)="paymentProcessed = false">Dismiss</button>
    </div>
*/
.payment-response{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9001; /* Over 9000 */
    background-color: rgba(0, 0, 0, 0.6);
}

.payment-response > span{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 2rem;
}

.payment-response > button{
    position: absolute;
    top: 50%;
    margin-top: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
}
