<!-- Loading screen overlay -->
<div class="breathe-loader" *ngIf="isLoading">
  <div></div>
  <span>{{loadingText}}</span>
</div>

<!-- Modal to display confirmation of success/failure of payment operations -->
<ng-template #paymentProcessedModal let-c="close" let-d="dismiss">
    <div class="modal-header green-background">
      <h4 class="modal-title">{{paymentProcessedModalTitle}}</h4>
    </div>
    <div class="modal-body">
      {{paymentProcessedModalBody}}
    </div>
    <div class="modal-footer">
      <button class="breathe-submit-button" (click)="dismissActiveModal()">{{paymentProcessedModalButton}}</button>
    </div>
</ng-template>
<!-- End payment processed modal -->

<!-- Delete payment info modal-->
<ng-template #paymentDeleteModal let-c="close" let-d="dismiss">
    <div class="modal-header green-background">
      <h4 class="modal-title">Are You Sure?</h4>
    </div>
    <div class="modal-body">
      Deleting your payment information will still allow you to finish the current subscription period, 
      and your subscription will be invalidated the next payment cycle. If you wish to renew or restart 
      your subsription, you will need to supply a new payment method.
    </div>
    <div class="modal-footer">
      <div class="row justify-content-end">
        <div class="col-auto">
          <button class="breathe-danger-button" (click)="deleteInfo()">Delete</button>
        </div>
        <div class="col-auto">
          <button class="breathe-cancel-button" (click)="dismissActiveModal()">Cancel</button>
        </div>
      </div>
    </div>
</ng-template>
<!-- End delete payment info modal -->

<!-- Modify subscription modal -->
<ng-template #changeSubscriptionModal let-c="close" let-d="dismiss">
  <div class="modal-header green-background">
    <h4 class="modal-title">Modify Subscription</h4>
  </div>
  <div class="modal-body" *ngIf="stripeSubscription.plan == 'annual'">
    <p>Plan: Monthly</p>
    <p>Price: $14.95/month</p>
    <p>
      Modifying your subscription may result in proration. This means that the remainder of your current subscription period 
      will be billed at the new rate, which will appear on your next invoice. If you are moving to a less expensive plan, you will
      receive credit for the part of the period you already paid for, decreasing the amount billed on your next invoice.
    </p>
  </div>
  <div class="modal-body" *ngIf="stripeSubscription.plan == 'monthly'">
      <p>Plan: Annual</p>
      <p>Price: $99.95/year</p>
      <p>
        Modifying your subscription may result in proration. This means that the remainder of your current subscription period 
        will be billed at the new rate, which will appear on your next invoice. If you are moving to a less expensive plan, you will
        receive credit for the part of the period you already paid for, decreasing the amount billed on your next invoice.
      </p>
  </div>

  <div class="modal-footer">
    <button class="breathe-submit-button" (click)="changeSubscription()">Subscribe</button>
    <button class="breathe-danger-button" (click)="openSubscriptionCancel()">Delete</button>
    <button class="breathe-cancel-button" (click)="dismissActiveModal()">Dismiss</button>
  </div>
</ng-template>
<!-- End modify subscription modal -->

<!-- Subscription canel confirmation dialog -->
<ng-template #cancelSubscriptionModal let-c="close" let-d="dismiss">
    <div class="modal-header green-background">
      <h4 class="modal-title">Delete Subscription</h4>
    </div>
    <div class="modal-body">
      <p>
        <span class="breathe-status-danger">Warning!</span> This will permanently cancel your subscription. You will not receive a refund for the unused remainder of the subscription period.
        If you merely wish to stop renewal of your subscription, remove your payment information instead.
      </p>
    </div>
  
    <div class="modal-footer">
      <button class="breathe-danger-button" (click)="cancelSubscription()">Delete</button>
      <button class="breathe-cancel-button" (click)="dismissActiveModal()">Cancel</button>
    </div>
  </ng-template>


<!-- Subscription confirm/select -->
<ng-template #subscribeConfirmationModal let-c="close" let-d="dismiss">
  <div class="modal-header green-background">
    <h4 class="modal-title">Subscribe</h4>
  </div>
  <div class="modal-body">
    <div class="row breathe-panel pb-2" *ngIf="stripeCard && stripeCard.brand">
      <div class="col">
        <p>Current payment method: {{stripeCard.brand}} ending in {{stripeCard.last4}}</p>
        <div class="row">
          <div class="col">
            <label class="control control-checkbox">
              Change Payment
              <input type="checkbox" [(ngModel)]="changePayment"/>
              <div class="control_indicator"></div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row breathe-panel" *ngIf="couponCode && couponCode !== ''">
      <div class="col">
        Coupon: {{couponCode}}
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-6">Monthly Plan</div>
      <div class="col-auto">$14.95/month</div>
    </div>
    <div class="row">
      <div class="col-6">Annual Plan</div>
      <div class="col-auto">$99.95/year</div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="breathe-submit-button" (click)="openStripeMonthly()">Monthly Plan</button>
    <button class="breathe-submit-button" (click)="openStripeAnnual()">Annual Plan</button>
    <button class="breathe-cancel-button" (click)="dismissActiveModal()">Cancel</button>
  </div>
</ng-template>

<!-- Main page content-->
<div class="container-fluid">  
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col breathe-header">
          Update Profile
        </div>
      </div>
      <div class="row pt-3">
        <div class="col breathe-panel">
          <form class="mb-2" (submit)="save()">
              
            <div class="form-row form-group">
              <label class="col-sm-2 col-form-label">Full Name</label>
              <div class="col-sm-5">
                <input type="text" name="full_name" autocomplete="name" class="form-control" [(ngModel)]="tempUser.full_name" placeholder="Full Name" />
              </div>
            </div>


            <div class="form-row form-group">
              <label class="col-sm-2 col-form-label">Birth Date</label>
              <div class="col-sm-5">
                <div class="input-group">
                  <input type="number" name="birth_month" autocomplete="bday-month" class="form-control" [(ngModel)]="tempUser.birth_month" data-toggle="tooltip" title="Enter your birth month" placeholder="Month" />
                  <span class="input-group-text">/</span>
                  <input type="number" name="birth_year" autocomplete="bday-year" class="form-control" [(ngModel)]="tempUser.birth_year" data-toggle="tooltip" title="Enter your birth year" placeholder="Year" />
                </div>
              </div>
            </div>

            <div class="form-row" *ngIf="birthError">
              <div class="col">
                  <ngb-alert type="danger" (close)="birthError = false">Please input a valid birth date!</ngb-alert>
              </div>
            </div>
          
            <fieldset class="form-group">
              <div class="form-row">
                <legend class="col-sm-2 col-form-label pt-0">Gender</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input type="radio" name="gender" class="form-check-input" [(ngModel)]="tempUser.gender" value="male" />
                    <label class="form-check-label">Male</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="gender" class="form-check-input" [(ngModel)]="tempUser.gender" value="female" />
                    <label class="form-check-label">Female</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="gender" class="form-check-input" [(ngModel)]="tempUser.gender" value="other" />
                    <label class="form-check-label">Other</label>
                  </div>
                </div>
              </div>
            </fieldset>

            <div class="form-row form-group">
              <label class="col-sm-2 col-form-label">Height</label>
              <div class="col-sm-3 col-6 input-group">
                <input type="number" name="feet" class="form-control" [(ngModel)]="tempUser.feet" data-toggle="tooltip" title="Enter your height in feet" placeholder="Feet" />
                <div class="input-group-append">
                  <span class="input-group-text">ft</span>
                </div>
              </div>
              <div class="col-sm-3 col-6 input-group">
                <input type="number" name="inches" class="form-control" [(ngModel)]="tempUser.inches" data-toggle="tooltip" title="Enter your height in inches" placeholder="Inches" />
                <div class="input-group-append">
                  <span class="input-group-text">in</span>
                </div>
              </div>
            </div>

            <div class="form-row" *ngIf="heightError">
              <div class="col">
                <ngb-alert type="danger" (close)="heightError = false">Please input a valid height!</ngb-alert>
              </div>
            </div>

            <div class="form-row form-group">
              <label class="col-sm-2">Weight</label>
              <div class="col-sm-3 input-group">
                <input type="number" name="weight" class="form-control" [(ngModel)]="tempUser.weight" min="0" max="999" placeholder="Weight" />
                <div class="input-group-append">
                  <span class="input-group-text">lbs</span>
                </div>
              </div>
            </div>

            <div class="form-row" *ngIf="weightError">
              <div class="col">
                <ngb-alert type="danger" (close)="weightError = false">Please input a valid weight!</ngb-alert>
              </div>
            </div>
          

            <fieldset class="form-group">
              <div class="form-row">
                <legend class="col-sm-2 col-form-label pt-0">Weight Loss Goal</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input type="radio" name="goal" class="form-check-input" [(ngModel)]="tempUser.weight_goal" value="maintain" />
                    <label class="form-check-label">Maintain</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="goal" class="form-check-input" [(ngModel)]="tempUser.weight_goal" value="gradual" />
                    <label class="form-check-label">Gradual</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="goal" class="form-check-input" [(ngModel)]="tempUser.weight_goal" value="moderate" />
                    <label class="form-check-label">Moderate</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="goal" class="form-check-input" [(ngModel)]="tempUser.weight_goal" value="aggressive" />
                    <label class="form-check-label">Aggressive</label>
                  </div>
                </div>
              </div>
            </fieldset>

            <button type="submit" class="breathe-submit-button">Save Changes</button>
            <button type="button" class="breathe-cancel-button" (click)="cancel()">Cancel</button>
          
          </form>

          <ngb-alert *ngIf="showSuccess" type="success" (close)="showSuccess = false">Information successfully updated</ngb-alert>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-0">
      <div class="row breathe-panel pb-2">
        <div class="col">
          <div class="row breathe-header justify-content-between">
            <div class="col">
              Sync Status
            </div>
            <div class="col-auto" id="statusIcon">
              <img src="assets/breathe-icons/breathe-hr-danger.svg" class="breathe-icon-danger" *ngIf="tempUser.status != 'connected'" />
              <img src="assets/breathe-icons/breathe-hr-ok.svg" class="breathe-icon-okay" *ngIf="tempUser.status == 'connected'" />        </div>
          </div>
          <div class="row">
            <div class="col mt-2">
              <div class="row py-2">
                <div class="col-sm-4">
                  HR Source
                </div>
                <div class="col-auto text-capitalize">
                  {{tempUser.token_source ? tempUser.token_source : "N/A"}}
                </div>
              </div>

              <div class="row py-2">
                <div class="col-sm-4">
                  Status
                </div>
                <div class="col-auto text-capitalize" [ngClass]= "{'breathe-status-danger': tempUser.status != 'connected'}">
                  {{tempUser.status ? tempUser.status : "Unknown"}}
                </div>
              </div>

              <div class="row py-2">
                <div class="col-sm-4">
                  Last HR Sync
                </div>
                <div class="col-auto">
                  {{hrSync ? hrSync : "Unknown"}}
                </div>
              </div>

              <div class="row py-2">
                <div class="col-sm-4">
                  Last sync attempt
                </div>
                <div class="col-auto">
                  {{syncAttempt ? syncAttempt : "Unknown"}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row breathe-panel pb-5">
        <div class="col">
            <div class="row breathe-header">
              <div class="col">
                Payment Information
              </div>
            </div>

            <div class="row pt-3">
              <div class="col">
                <div class="row py-2" *ngIf="stripeCard && stripeCard.brand">
                  <div class="col">
                    Method: {{stripeCard.brand}} ending in {{stripeCard.last4}}
                  </div>
                  <div class="col-auto" id="stripeCardChange" (click)="openStripeModify()">
                    Change
                  </div>
                  <div class="col-auto" id="stripeCardDelete" (click)="openStripeDelete()">
                    Delete
                  </div>
                </div>

                <div class="row py-2" *ngIf="!stripeCard || !stripeCard.brand">
                  <div class="col">
                    <button class="breathe-submit-button" (click)="openStripeModify()">Add Payment Info</button>
                  </div>
                </div>

                <p class="text-capitalize">
                  Subscription Plan: {{isSubscribed() ? stripeSubscription.plan : "None"}}
                </p>
                <p class="text-capitalize">
                  Subscription Status: <span [ngClass]= "{'breathe-status-danger': isSubscribed()}">{{userService.subscriptionStatus ? userService.subscriptionStatus : "Not Subscribed"}}</span>
                </p>
                <div class="row py-2" *ngIf="isSubscribed()">
                  <div class="col">
                    <button class="breathe-submit-button" (click)="openSubscriptionModify()">Modify Plan</button>
                  </div>
                </div>
                <div class="row py-2 justify-content-center" *ngIf="!isSubscribed()">
                  <div class="col-auto">
                    <button class="breathe-submit-button" (click)="openSubscriptionConfirm()">Subscribe</button>
                  </div>
                </div>
                <div class="row py-2" *ngIf="!isSubscribed()">
                  <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="couponCode" placeholder="Coupon code" />
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>

</div>