#addWeight{
    padding: 2rem;
}

#nutrition img{
    min-height: 2.5rem;
}

.submitButton{
    margin-top: 1rem;
    background-color: #26b2a9;
    color: #ffffff;
}

#weightIcon{
    width: 4rem;
}

#weightProgress{
    min-height: 20rem;
}

#breatheHeaderEnterWeight{
    min-width: 12rem;
}

#breatheHeaderAddFood{
    min-width: 10rem;
}

.progress{
    height: 4rem;
}

.progress-bar{
    background: #FF5900;
    background: linear-gradient(#ff9d00, #ff6501);

}

@media (min-width: 1200px){
    .scroll-column{
        overflow-y: scroll;
        height: 40rem;
        max-height: 40rem;
    }
}