<div class="container-fluid">
  <div class="row">
    <div class="col-8" id="meterContainer">
      <div class="row">
        <div class="col-12" id="meter">
        </div>
      </div>
      <div class="row">
        <div class="col" id="addWeight">
          <input type="text" placeholder="Weight (lbs)">
        </div>
      </div>
    </div>

    <div class="col-4" id="foodDiary">
      <div class="row">
        <div class="col">
          <p class="text-center">Food Diary</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col">

    </div>
  </div>

</div>