<!-- Modal to add food -->
<ng-template #foodModal let-c="close" let-d="dismiss">
  <div class="modal-header green-background">
    <h4 class="modal-title">Food Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Show loading gif while loading details -->
  <div class="modal-body" *ngIf="detail_loading">
    <img src="assets/loading_gif.gif" style="width:50%;">
  </div>
  <!-- Show results, note this is mutually exclusive to loading image -->
  <div class="modal-body text-center" *ngIf="!detail_loading">
    <!-- Food image, centered -->

    <div class="row">
      <div class="col breathe-modal-title">
        {{food_detail.brand_name}} {{food_detail.food_name}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col">
              <img src= {{food_detail.thumbnail}} style="width: 100%"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Serving size: {{food_detail.serving_quantity}} {{food_detail.serving_unit}}
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row my-2">
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <img src="assets/breathe-icons/breathe-sugar.svg" class="mx-auto d-block" />
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center breathe-value">
                      {{food_detail.sugar * food_detail.quantity}} g
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center breathe-label">
                    Sugar
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <img src="assets/breathe-icons/breathe-fiber.svg" class="mx-auto d-block" />
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center breathe-value">
                    {{food_detail.total_fiber * food_detail.quantity}} g
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center breathe-label">
                    Fiber
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <img src="assets/breathe-icons/breathe-carbs.svg" class="mx-auto d-block" />
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center breathe-value">
                    {{food_detail.carbohydrates * food_detail.quantity}} g
                  </div>
                </div>
                <div class="row">
                    <div class="col text-center breathe-label">
                      Carbs
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <img src="assets/breathe-icons/breathe-protein.svg" class="mx-auto d-block" />
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center breathe-value">
                    {{food_detail.protein * food_detail.quantity}} g
                  </div>
                </div>
                <div class="row">
                    <div class="col text-center breathe-label">
                      Protein
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <img src="assets/breathe-icons/breathe-fat.svg" class="mx-auto d-block" />
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center breathe-value">
                    {{food_detail.fat * food_detail.quantity}} g
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center breathe-label">
                      Fat
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <img src="assets/breathe-icons/breathe-calories.svg" class="mx-auto d-block" />
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center breathe-value">
                    {{food_detail.calories * food_detail.quantity}}
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center breathe-label">
                    Calories
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <label class="col-3 col-form-label">Date: </label>
          <div class="col">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                  name="fdp" [(ngModel)]="foodDate" [minDate]="minDate" [maxDate]="maxDate" ngbDatepicker #fdp="ngbDatepicker" />
              <button class="btn btn-outline-secondary input-group-addon" (click)="fdp.toggle()" type="button">
                <img src="assets/breathe-icons/breathe-calendar.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-3 col-form-label">Period: </label>
          <div class="col-auto">
            <select class="form-control" [(ngModel)]="food_detail.period">
              <option value="auto">Auto</option>
              <option value="breakfast">Breakfast</option>
              <option value="lunch">Lunch</option>
              <option value="dinner">Dinner</option>
              <option value="snack">Snack</option>
            </select>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="modal-footer">
    <div class="form-group row">
      <label for="quantity" class="col-auto col-form-label">Quantity: </label>
      <div class="col-sm-3 col-4">
        <input type="number" class="form-control" [(ngModel)]="food_detail.quantity">
      </div>
      <div class="col-auto">
        <button class="btn breathe-submit-button" (click)="addCurrentFood()">Add Food</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal for adding weight-->
<ng-template #weightModal let-c="close" let-d="dismiss">
  <div class="modal-header green-background">
    <h4 class="modal-title">Record Your Weight</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-auto">
        <ngb-datepicker #wdp [(ngModel)]="weightDate" [minDate]="minDate" [maxDate]="maxDate" [navigation]="arrows"></ngb-datepicker>
      </div>
      <div class="col">
        <form (submit)="addWeight(weight.value)">
          <h3>Record Your Weight</h3>
          <small class="form-text text-muted">
              Tip: Weight can fluctuate during the day. Aim to weigh yourself at about the same time each day.
          </small>
          <div class="form-group">
            <label for="weightInput">Weight</label>
            <input id="weightInput" type="number" min="1" class="form-control" placeholder="Weight" #weight />
            <label for="weightDateInput">Date</label>
            <p>{{weightDate.month}}-{{weightDate.day}}-{{weightDate.year}}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn breathe-submit-button" (click)="addWeight(weight.value)">Save Changes</button>
  </div>
</ng-template>

<!-- Main body -->
<div class="container-fluid">
  <div class="row" id="resultsCalendarContainer">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-10">
      <div class="input-group" id="resultsCalendar">
        <input id="resultsCalendarInput" class="form-control" placeholder="yyyy-mm-dd"
            name="rdp" [(ngModel)]="resultsDate" [minDate]="minDate" [maxDate]="maxDate"
            ngbDatepicker #rdp="ngbDatepicker" (ngModelChange)="update()">
        <button class="btn btn-outline-secondary input-group-addon" (click)="rdp.toggle()" type="button">
          <img src="assets/breathe-icons/breathe-calendar.png" style="width: 1.2rem; height: 1.2rem; cursor: pointer;"/>
        </button>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-xl-8">
      <!-- Meter/progress on insulin index-->

      <div class="row breathe-header">
        <div class="col">
          Nutrition
        </div>
      </div>
      <div class="row breathe-panel">
        <div class="col-md-6 col-sm-12 col-12" id="meter">
          <div class="row">
            <div class="col">
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="result.co2/goal * 100"></div>
              </div>
            </div>
          </div>
          <div class="row mb-4 justify-content-between">
            <div class="col breathe-label">
              Insulin index
            </div>
            <div class="col-auto">
              <img src="assets/breathe-icons/breathe-goal.svg" />
            </div>
          </div>
        </div>
        <div class="col-md-6" id="nutrition">
          <div class="row mb-2">
            <div class="col">
              <div class="row">
                <div class="col">
                  <img src="assets/breathe-icons/breathe-sugar.svg" class="mx-auto d-block" />
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-value">
                    {{sugar}} g
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-label">
                  Sugar
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <img src="assets/breathe-icons/breathe-fiber.svg" class="mx-auto d-block" />
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-value">
                  {{fiber}} g
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-label">
                  Fiber
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <img src="assets/breathe-icons/breathe-carbs.svg" class="mx-auto d-block" />
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-value">
                  {{carbs}} g
                </div>
              </div>
              <div class="row">
                  <div class="col text-center breathe-label">
                    Carbs
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <div class="row">
                <div class="col">
                  <img src="assets/breathe-icons/breathe-protein.svg" class="mx-auto d-block" />
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-value">
                  {{protein}} g
                </div>
              </div>
              <div class="row">
                  <div class="col text-center breathe-label">
                    Protein
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <img src="assets/breathe-icons/breathe-fat.svg" class="mx-auto d-block" />
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-value">
                  {{fat}} g
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-label">
                    Fat
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  <img src="assets/breathe-icons/breathe-calories.svg" class="mx-auto d-block" />
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-value">
                  {{calories}}
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-label">
                  Calories
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row breathe-header">
        <div class="col">
          Weight
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm-8 col-11" id="weightProgress">
          <ngx-charts-line-chart
              [scheme]="colorScheme"
              [results]="weightData"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="false"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="xLabel"
              [yAxisLabel]="yLabel"
              [autoScale]="true">
          </ngx-charts-line-chart>
        </div>

        <div class="col-sm-4">
          <div class="row my-2">
            <div class="col">
              <div class="row">
                <div class="col">
                  <img id="weightIcon" src="assets/breathe-icons/breathe-scale.svg" class="mx-auto d-block" />
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-value">
                  {{latestWeight.value}} lbs
                </div>
              </div>
              <div class="row">
                <div class="col text-center breathe-label">
                  Weight
                </div>
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col text-center">
                <button (click)="openWeightModal(weightModal)" class="breathe-add-button">+</button>
            </div>
          </div>
          <div class="row my-2">
            <div class="col text-muted text-center">
              Last recorded: {{latestWeight.timestamp}}
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-4 breathe-shadow-panel" id="foodDiary">
      <div class="row justify-content-between breathe-header">
        <div class="col">
          Today's Food
        </div>
        <div class="col-auto" *ngIf="multiSelect">
          <button class="btn breathe-submit-button" (click)="addSelectedFoods()">Add Selected</button>
        </div>
      </div>

      <div class="row scroll-column">
        <div class="col mt-2">
          <div class="row my-2 mx-1" *ngFor= "let period of periodList">
            <div class="col">
              <div class="card">
                <div class="card-header breathe-food-header">
                  <div class="media">
                    <img class="align-self-center mr-2" src="assets/breathe-icons/breathe-{{period}}.svg" />
                    <div class="media-body align-self-center">
                      {{period.charAt(0).toUpperCase() + period.slice(1)}}
                    </div>
                  </div>
                </div>
               <!-- Food entries (*ngFor)-->

                <div class="card-body" *ngIf="foodList[period].length <= 0">
                  No food entries.
                </div>
                <div class="card-body breathe-food-panel" *ngFor="let food of foodList[period]">
                  <div class="row align-items-center">
                    <div class="col-2">
                      <label class="control control-checkbox">
                        <input type="checkbox" (change)="selectFood($event, food)" (click)="stopPropogation($event)"/>
                        <div class="control_indicator"></div>
                      </label>
                    </div>
                    <div class="col media" (click)="getDetail(food, foodModal)">
                      <img class="align-self-center mr-2 breathe-food-img" src= {{food.thumbnail}} />
                      <div class="media-body align-self-center">
                        <div class="row justify-content-between">
                          <div class="col">
                            <p>{{food.brand_name}} {{food.food_name}}</p>
                            <p>{{food.quantity * food.serving_quantity}} {{food.serving_unit}}</p>
                          </div>
                          <div class="col-auto breathe-value">
                            <div class="row">
                              <div class="col">
                                {{food.carbohydrates}} g
                              </div>
                            </div>
                            <div class="row justify-content-end">
                              <div class="col-auto"> <!-- Ensures button position is consistent across foods with differing carb amounts-->
                                <button *ngIf="!multiSelect" class="breathe-add-button" (click)="repeatFood(food, $event)" data-toggle="tooltip" data-placement="left" title="Repeat this entry">+</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- End outermost row-->
  </div>

<!-- End container-->
</div>