#resultsCalendarContainer{
    background-color: #363636;
}

#resultsCalendar{
    margin: 0 auto;
    float: none;
}

#resultsCalendarInput{
    color: #ffffff;
    border: none;
    background-color: #00555400;
}

#addWeight{
    padding: 2rem;
}

.submitButton{
    margin-top: 1rem;
    background-color: #26b2a9;
    color: #ffffff;
}

#weightIcon{
    width: 4rem;
}

#weightProgress{
    min-height: 20rem;
}

@media (min-width: 1200px){
    .scroll-column{
        overflow-y: scroll;
        max-height: 35rem;
    }
}