 <!-- Pop up to show food details -->
 <!-- Modal to add food -->
<ng-template #foodModal let-c="close" let-d="dismiss">
    <div class="modal-header green-background">
      <h4 class="modal-title">Food Detail</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- Show loading gif while loading details -->
    <div class="modal-body" *ngIf="detail_loading">
      <img src="assets/loading_gif.gif" style="width:50%;">
    </div>
    <!-- Show results, note this is mutually exclusive to loading image -->
    <div class="modal-body text-center" *ngIf="!detail_loading">
      <!-- Food image, centered -->
  
      <div class="row">
        <div class="col breathe-modal-title">
          {{food_detail.brand_name}} {{food_detail.food_name}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col">
              <img src= {{food_detail.thumbnail}} style="width: 100%"/>
            </div>
          </div>
          <div class="row">
            <div class="col">
              Serving size: {{food_detail.serving_quantity}} {{food_detail.serving_unit}}
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="row my-2">
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <img src="assets/breathe-icons/breathe-sugar.svg" class="mx-auto d-block" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center breathe-value">
                        {{food_detail.sugar * food_detail.quantity}} g
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center breathe-label">
                      Sugar
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <img src="assets/breathe-icons/breathe-fiber.svg" class="mx-auto d-block" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center breathe-value">
                      {{food_detail.total_fiber * food_detail.quantity}} g
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center breathe-label">
                      Fiber
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <img src="assets/breathe-icons/breathe-carbs.svg" class="mx-auto d-block" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center breathe-value">
                      {{food_detail.carbohydrates * food_detail.quantity}} g
                    </div>
                  </div>
                  <div class="row">
                      <div class="col text-center breathe-label">
                        Carbs
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <img src="assets/breathe-icons/breathe-protein.svg" class="mx-auto d-block" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center breathe-value">
                      {{food_detail.protein * food_detail.quantity}} g
                    </div>
                  </div>
                  <div class="row">
                      <div class="col text-center breathe-label">
                        Protein
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <img src="assets/breathe-icons/breathe-fat.svg" class="mx-auto d-block" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center breathe-value">
                      {{food_detail.fat * food_detail.quantity}} g
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center breathe-label">
                        Fat
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <img src="assets/breathe-icons/breathe-calories.svg" class="mx-auto d-block" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center breathe-value">
                      {{food_detail.calories * food_detail.quantity}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center breathe-label">
                      Calories
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-2">
            <label class="col-3 col-form-label">Date: </label>
            <div class="col">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                    name="fdp" [(ngModel)]="foodDate" [minDate]="minDate" [maxDate]="maxDate" ngbDatepicker #fdp="ngbDatepicker" />
                <button class="btn btn-outline-secondary input-group-addon" (click)="fdp.toggle()" type="button">
                  <img src="assets/breathe-icons/breathe-calendar.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-3 col-form-label">Period: </label>
            <div class="col-auto">
              <select class="form-control" [(ngModel)]="food_detail.period">
                <option value="auto">Auto</option>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="snack">Snack</option>
              </select>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
    <div class="modal-footer">
      <div class="form-group row">
        <label for="quantity" class="col-auto col-form-label">Quantity: </label>
        <div class="col-sm-3 col-4">
          <input type="number" class="form-control" [(ngModel)]="food_detail.quantity">
        </div>
        <div class="col-auto">
          <button class="btn breathe-submit-button" (click)="addCurrentFood()">Add Food</button>
        </div>
      </div>
    </div>
  </ng-template>

<!-- Body content-->
<div class="container-fluid">

  <div class="row">
  <!-- Food search -->
    <div class="col-lg-6">
      <div class="row">
        <div class="col breathe-header">
          Add Food
        </div>
      </div>
      <div class="row">
        <div class="col" style="padding: 0">
          <!-- Food search form -->
          <form (submit)="search(food.value)">  
            <div class="input-group">
              <input type="text" id="foodSearch" class="form-control" placeholder="Search" #food>
              <div class="input-group-addon">
                <button type="submit" id="searchButton" class="btn">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Food search results -->
      <div class="row scroll-column-smaller">
        <div class="col">

          <div class="row search-category">
            <div class="col">
              <div class="search-header row" *ngIf="foodList['common'].length > 0">
                <div class="col">
                  Common
                </div>
              </div>
              <!-- Start ngFor for search results -->
              <div class="row" *ngFor="let food of foodList['common']">
                <div class="col breathe-food-panel">
                  <div class="media h5-rem" (click)="getDetail(food, foodModal)">
                    <img class="align-self-center mr-2 breathe-food-img" src= {{food.thumbnail}} />
                    <div class="media-body align-self-center">
                      <span class="align-middle">{{food.brand_name}} {{food.food_name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row search-category">
            <div class="col">
              <div class="search-header row" *ngIf="foodList['branded'].length > 0">
                <div class="col">
                  Branded
                </div>
              </div>
              <div class="row" *ngFor="let food of foodList['branded']">
                <div class="col breathe-food-panel">
                  <div class="media h5-rem" (click)="getDetail(food, foodModal)">
                    <img class="align-self-center mr-2 breathe-food-img" src= {{food.thumbnail}} />
                    <div class="media-body align-self-center">
                      <span class="align-middle">{{food.brand_name}} {{food.food_name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- End ngFor for search results -->

        </div>
      </div>

    </div>

    <!-- Food history -->
    <div class="col-lg-6 breathe-shadow-panel">
      <div class="row justify-content-between breathe-header">
        <div class="col">
          Food History
        </div>
        <div class="col-auto" *ngIf="multiSelect">
          <button class="btn breathe-submit-button" (click)="addSelectedFoods()">Add Selected</button>
        </div>
      </div>
      <div class="row scroll-column">
        <div class="col mt-2">
          <!-- Start outer ngFor -->
          <div class="row my-2 mx-1" *ngFor= "let period of periodList">
            <div class="col">
              <div class="card">
                <div class="card-header breathe-food-header">
                  <div class="media">
                    <img class="align-self-center mr-2" src="assets/breathe-icons/breathe-{{period}}.svg" />
                    <div class="media-body align-self-center">
                      {{period.charAt(0).toUpperCase() + period.slice(1)}}
                    </div>
                  </div>
                </div>
                <!-- Food entries (*ngFor)-->

                <div class="card-body" *ngIf="food_entries[period].length <= 0">
                  No food entries.
                </div>
                <div class="card-body breathe-food-panel" *ngFor="let food of food_entries[period]">
                  <div class="row align-items-center">
                    <div class="col-2">
                      <label class="control control-checkbox">
                        <input type="checkbox" (change)="selectFood($event, food)" (click)="stopPropogation($event)"/>
                        <div class="control_indicator"></div>
                      </label>
                    </div>
                    <div class="col media" (click)="getDetail(food, foodModal)">
                      <img class="align-self-center mr-2 breathe-food-img" src= {{food.thumbnail}} />
                      <div class="media-body align-self-center">
                        <div class="row justify-content-between">
                          <div class="col">
                            <p>{{food.brand_name}} {{food.food_name}}</p>
                            <p>{{food.quantity * food.serving_quantity}} {{food.serving_unit}}</p>
                          </div>
                          <div class="col-auto breathe-value">
                            <div class="row">
                              <div class="col">
                                {{food.carbohydrates}} g
                              </div>
                            </div>
                            <div class="row justify-content-end">
                              <div class="col-auto">
                                <button *ngIf="!multiSelect" class="breathe-add-button" (click)="repeatFood(food, $event)" data-toggle="tooltip" data-placement="left" title="Repeat this entry">+</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End outer ngFor -->
        </div>
      </div>
    </div>
  </div>

</div>