.search-header{
    background-color: #DBDBDB;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: #525252;
}

.search-results-header{
    background: #26b2a9;
    background: linear-gradient(#27b3aa, #4ec0b9);
    color: #FFFFFF;
    font-weight: 700;
}

.search-results-header > div{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

.search-results-header a{
    color: #FFFFFF;
}

.search-results-header a:hover{
    color: #DDDDDD;
    text-decoration: none;
}

.h5-rem{
    height: 5rem;
}

.search-category{
    margin-bottom: 2rem;
}

#breatheHeaderCancel{
    min-width: 7rem;
}

#foodSearch{
    font-size: 1.5rem;
    border-radius: 0;
    border-left: 0;
    border-right: 1px solid #DBDBDB;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
}

#foodSearch:focus{
    box-shadow: 0 0 0 0.2rem rgba(15, 114, 97, 0.25);
}

#searchButton{
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    border: 1px solid #DBDBDB;
}

#searchButton:hover{
    background-color: #DBDBDB;
}

#radioSelectContainer{
    background-color: #363636;
}
#radioSelect > label{
    color: #FFFFFF;
}

@media (min-width: 992px){
    .scroll-column{
        overflow-y: scroll;
        max-height: 33rem;
    }

    .scroll-column-smaller{
        overflow-y: scroll;
        max-height: 30rem;
    }

}