#content{
    margin: 10px;
}

#login_form{
    display: table;
    position: absolute;
    z-index: 10;
    right: 10%;
}

.login_input{
    text-align: right;
    display: table-row;
}
.login_element{
    display: table-cell;
}