<!-- Because of how angular displays content, create custom "body" for styling -->
<div class="container-fluid" id="body">


 <!-- Logo image -->
 <img src="assets/img/breathe.png" style="position:absolute; width:25%; z-index: 10"/>

 <form id="login_form" (submit)="login(email.value, password.value)">
   <div class="login_input">
     <label class="login_element" for="email">Email: &nbsp;</label>
     <input class="login_element" type="email" #email>
   </div>
   <br>
   <div class="login_input">
     <label class="login_element" for="password">Password: &nbsp;</label>
     <input class="login_element" type="password" autocomplete="current-password" #password>
   </div>
   <div class="login_input">
     <div class="login_element"></div>
     <label for ="persist_checkbox">Keep Me Logged In: &nbsp;</label>
     <input type="checkbox" name="persist_checkbox" [(ngModel)]="persist_credentials">
   </div>
   <div class="login_input">
     <div class="login_element"></div>
     <input class="login_element align-right btn" type="submit" Value="Log In" />
   </div>
   <br />
   <div class="login_input">
       <div class="login_element"></div>
       <!--<label>No account? &nbsp;</label><a style="text-align: left" [routerLink]="['/register']" ><input class="btn" type="button" value= "Sign up!" /></a>-->
   </div>
 </form>

 <!-- Image gallery -->
 <ngb-carousel>
   <!-- Scrolling gallery "carousel" -->
   <ng-template ngbSlide>
     <img src="assets/img/ocean.jpg" />
   </ng-template>
       
   <ng-template ngbSlide>
     <img src="assets/img/protein.jpg" />
   </ng-template>

   <ng-template ngbSlide>
     <img src="assets/img/beach_mod.jpg" />
   </ng-template>
 </ngb-carousel>


  <!-- Main content -->
  <div id="content" class="container">

      <div class="row">

        <div class="col-4">
          <h2>About</h2>
          <hr>
          <p>Breathe is an innovative weight-loss program that uses the laws of physics to help users lose weight. A product of Mindful Projects, our goal is to help you become healthy through a sustainable program that is affordable and safe. We empower users with the knowledge to </p>
          <p><strong>Ready to reach your high school weight? </strong></p>
          <div class="row justify-content-center" style="width: 100%; padding: 0px">
          <!--  <a [routerLink] = "['/register']" ><input class="btn" type="button" value="Sign up!"></a>-->
          </div>
        </div>
        <div class="col ">
          <img src="assets/img/girl_breathing.png" style="width:100%">
        </div>

      </div>

      <div class="row justify-content-center">

        <div class="col-4">
          <img src="assets/img/yoga.jpg" style="width:100%"/>
        </div>
        <div class="col-6">
        <h2>Program Benefits</h2>
        <hr>
          <ol>
            <li>Track exercise irrespective of activity (cycling, lifting weights, cleaning, gardening, sleeping, having a desk job, etc.)</li>
            <li>Users do NOT need to eliminate their favorite foods entirely. Nor do they have to reduce caloric intake.</li>
            <li>Breathe actually learns about users over time, offering a custom weight loss program that is specifically tuned to the individual.</li>
          </ol>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <h2>Did You Know?</h2>
          <hr>
          <p>That <strong>the dominant form of mass loss is carbon-dioxide (CO2) exhalation.</strong> Yes, it’s true. CO2 is the primary by-product of the fat dissociation process. When someone loses weight, approximately 84% of the mass physically exits their body through their breathe (hence the name of our program).</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <img src="assets/img/chemistry.png" alt="chemistry" style="width:40%; height:40%" />
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <p>It turns out that this approach misinterprets the first law of thermodynamics (conservation of energy) by neglecting the <strong>TYPE</strong> of food being eaten. [Reference to Taubes 2007, “Good Calories, Bad Calories.”]. Counting calories neglects: glycation, hormones, epigenetics, contaminants, and many other effects---basically all the things you learned in chemistry class.</p>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <div class="col-8">
          <h2>Addressing The Obesity Epidemic</h2>
          <hr>
          <p>The obesity epidemic has systematically begun to erode the financial stability of the American health-care system. More than two-thirds of adults are overweight, and at least one-third are considered obese (5% are morbidly obese). Obesity is linked to the increasing incidence of heart disease, diabetes, Alzheimer’s, cancer and other afflictions [REFERENCES HERE.]</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-8">
          <p>The saying “you are what you eat” does not quite capture the full extent of the impact that poor nutrition can have on a family and their lineage. Food is not only used by the body for nourishment but it also influences the expression of genes that are passed down hereditary lines. Research in epigenetics shows that what we eat governs the health of our children and grandchildren. Rather than just calories, food is interpreted by our body as a form of “information” that conveys vital clues regarding our environment.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <img src="assets/img/evolution.png" alt="evolution" style="width: 35%">
      </div>

      <div class="row justify-content-center">
        <div class="col-8">
          <p>Have you recently been told that you have high cholesterol? Breathe can help. Have you recently been diagnosed with pre-diabetes? Breathe can help. Have you been told by your doctor that you are morbidly obese? Breathe can help. </p>
        </div>
      </div>

  <!-- End main content -->
  </div>
</div>