/*.rangeCalendar{
    margin: 0 auto;
}*/

.rangeCalendar{
    width: 10em;
}

.rangeCalendar > input {
    color: #ffffff;
    border: none;
    background-color: #00555400;
}

.input-group-text{
    color: #ffffff;
    background-color: #36363600;
    border: none;
}

.rangeButton{
    color: #ffffff;
}

#rangeSelectContainer{
    background-color: #363636;
}