<h2>User Data</h2>
<ul *ngIf=userExists>
  <li>Name: {{user.full_name}}</li>
  <li>Email: {{user.email}}</li>
  <li>Weight: {{user.weight}} pounds</li>
  <li>Height: {{ feet }} feet {{ inches }} inches</li>
</ul>

<button (click)="toggleEdit()">Edit User</button>

<div *ngIf=editUser class="col-lg-4">
  <h2>Edit User</h2>
  <form>
      <label for="name">Name: </label><br/>
      <input type="text" [(ngModel)]="user.full_name" name="name">
      <br/>
      <label for="email">Email: </label><br/>
      <input type="text" [(ngModel)]="user.email" name="email">
      <br/>

      <label for="gender">Gender: </label><br/>
      <input type="radio" value="male" name="gender" [(ngModel)]="user.gender"> Male
      <input type="radio" value="female" name="gender" [(ngModel)]= "user.gender"> Female
      <br/>

      <label for="feet">Height: </label><br/>
      <input type="number" [(ngModel)]="feet" name="feet" > feet
      <input type="number" [(ngModel)]="inches" name="inches" > inches
      <br/>
      <ngb-alert [dismissible]="false" *ngIf=heightError>
        <strong>Warning!</strong> Please enter a valid height!
      </ngb-alert>

    <!-- Datepicker component -->
    <!-- Input group allows button to be next to input box -->
      <label for="dp">Birth Date:</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="datePicker" [minDate]="minDate" [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker" style="width: auto;">
        <button class="btn btn-outline-secondary input-group-addon" (click)="d.toggle()" type="button">
          <img src="assets/img/calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>

  </form>
  <button (click)="setUser()">Update User</button>
</div>

<h2>CO2</h2>
<div *ngIf=userExists>
  <p><strong>CO2: </strong>{{user.co2}} g</p>    
  <p><strong>Maintain: </strong>{{user.maintain}} g</p>
  <p><strong>Gradual: </strong>{{user.gradual}} g</p>
  <p><strong>Moderate: </strong>{{user.moderate}} g</p>
  <p><strong>Aggressive: </strong>{{user.aggressive}} g</p>
</div>


<h2>Weight</h2>
<form (submit)="addWeight(weight.value)">
  <div>
    <label for="weight">Weight</label>
    <input type="number" #weight>
  </div>
</form>

<table>
  <tr><td>Time</td><td>Value</td></tr>
  <tr *ngFor="let weight of weights">
    <td>{{weight.timestamp}}</td>
    <td>{{weight.value}} pounds</td>
  </tr>
</table>