<div class="container-fluid" id="content">

    <nav class="navbar navbar-expand-md">
        <img class="navbar-brand" src="assets/img/breathe_white.png" />
        <div class="mr-auto"></div>
        <div class="navbar-nav">
            <span class="nav-item nav-link" [ngStyle]="{'color': dashboard ? '#ffffff' : '#363636'}"  (click)="show('dashboard')">Dashboard</span>
            <span class="nav-item nav-link" [ngStyle]="{'color': progress ? '#ffffff' : '#363636'}" (click)="show('progress')">Progress</span>
            <span class="nav-item nav-link" [ngStyle]="{'color': food ? '#ffffff' : '#363636'}" (click)="show('food')">Food</span>

            <div ngbDropdown class="d-inline-block" placement="bottom-right">
                <button class="btn btn-dark" id="dropdownToggle" ngbDropdownToggle>Menu</button>
                <div ngbDropdownMenu aria-labelledby="dropdownToggle">
                    <h5 class="dropdown-header">{{this.userService.user.full_name}}</h5>
                    <h6 class="dropdown-header">{{this.userService.user.email}}</h6>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item">Payment</button>
                    <a href="/google/oauth2/?device=browser"><button class="dropdown-item">Switch User</button></a>
                </div>
            </div>

        </div>
    </nav>
    <app-dashboard *ngIf="dashboard"></app-dashboard>
    <app-progress *ngIf="progress"></app-progress>
    <app-food *ngIf="food"></app-food>

</div>