<!-- First time setup modal -->
<ng-template #setupModal let-c="close" let-d="dismiss">
    <div class="modal-header green-background">
      <h4 class="modal-title">First Time Setup</h4>
    </div>
    <div class="modal-body">
      <div class="row">

        <div class="col">
            <form class="mb-2" (submit)="setUser()">
              
                <div class="form-row form-group">
                  <label class="col-sm-2 col-form-label">Full Name (optional)</label>
                  <div class="col-sm-5">
                    <input type="text" name="full_name" autocomplete="name" class="form-control" [(ngModel)]="fullName" placeholder="Full Name" />
                  </div>
                </div>
    
                <div class="form-row form-group">
                  <label class="col-sm-2 col-form-label">Birth Date</label>
                  <div class="col-sm-5">
                    <div class="input-group">
                      <input type="number" name="birth_month" autocomplete="bday-month" class="form-control" [(ngModel)]="month" data-toggle="tooltip" title="Enter your birth month" placeholder="Month" />
                      <span class="input-group-text">/</span>
                      <input type="number" name="birth_year" autocomplete="bday-year" class="form-control" [(ngModel)]="year" data-toggle="tooltip" title="Enter your birth year" placeholder="Year" />
                    </div>
                  </div>
                </div>
    
                <div class="form-row" *ngIf="birthError">
                  <div class="col">
                      <ngb-alert type="danger" (close)="birthError = false">Please input a valid birth date!</ngb-alert>
                  </div>
                </div>
    
                <div class="form-row form-group">
                  <label class="col-sm-2 col-form-label">Height</label>
                  <div class="col-sm-3 col-6 input-group">
                    <input type="number" name="feet" class="form-control" [(ngModel)]="feet" data-toggle="tooltip" title="Enter your height in feet" placeholder="Feet" />
                    <div class="input-group-append">
                      <span class="input-group-text">ft</span>
                    </div>
                  </div>
                  <div class="col-sm-3 col-6 input-group">
                    <input type="number" name="inches" class="form-control" [(ngModel)]="inches" data-toggle="tooltip" title="Enter your height in inches" placeholder="Inches" />
                    <div class="input-group-append">
                      <span class="input-group-text">in</span>
                    </div>
                  </div>
                </div>
    
                <div class="form-row" *ngIf="heightError">
                  <div class="col">
                    <ngb-alert type="danger" (close)="heightError = false">Please input a valid height!</ngb-alert>
                  </div>
                </div>
    
                <div class="form-row form-group">
                  <label class="col-sm-2">Weight</label>
                  <div class="col-sm-3 input-group">
                    <input type="number" name="weight" class="form-control" [(ngModel)]="weight" placeholder="Weight" />
                    <div class="input-group-append">
                      <span class="input-group-text">lbs</span>
                    </div>
                  </div>
                </div>
    
                <div class="form-row" *ngIf="weightError">
                  <div class="col">
                    <ngb-alert type="danger" (close)="weightError = false">Please input a valid weight!</ngb-alert>
                  </div>
                </div>

              </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="breathe-submit-button" (click)="setUser()">Save Changes</button>
    </div>
</ng-template>
<!-- End setup modal -->

<!-- Modal asking first time users to subscribe -->
<ng-template #subscribeFirstModal let-c="close" let-d="dismiss">
    <div class="modal-header green-background">
      <h4 class="modal-title">Subscribe</h4>
    </div>
    <div class="modal-body">
      Now that you have your account setup, go to the settings page and subscribe to one of our plans to get the most out of Breathe.
      You can still log in without a subscription, but will not be able to log your food/weight or retrieve your results until you subscribe.
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col">
          <button class="breathe-submit-button" (click)="dismissAndSwitch('settings')">Settings</button>
        </div>
        <div class="col">
          <button class="breathe-cancel-button" (click)="dismissActiveModal()">Later</button>
        </div>
      </div>
    </div>
  </ng-template>

<!-- Modal to display for when user attempts to perform subscription-required operation -->
<ng-template #subscribeModal let-c="close" let-d="dismiss">
  <div class="modal-header green-background">
    <h4 class="modal-title">Subscribe</h4>
  </div>
  <div class="modal-body">
    You must be subscribed to perform this action. If you wish to subscribe, please visit the settings page.
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
        <button class="breathe-submit-button" (click)="dismissAndSwitch('settings')">Settings</button>
      </div>
      <div class="col">
        <button class="breathe-cancel-button" (click)="dismissActiveModal()">Dismiss</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Loading animation -->
<div class="loader" *ngIf="!isLoaded || !statusReady"></div>

<!--Side nav -->
<div id="sideMenu" [ngClass]="{'breathe-sidenav-open' : navOpen}" class="breathe-sidenav" *ngIf="isLoaded && statusReady">
  <div class="row justify-content-between sidenav-header">
    <div class="col sidenav-profile">{{this.userService.user.full_name}}</div>
    <div class="col-auto sidenav-exit" (click)="closeNav()"><img src="assets/img/breathe-exit.png" /></div>
  </div>
  <div class="row" id="algorithmMenu">
    <div class="col">
      <p class="algorithm-status">
        Algorithm Training Status: {{training_status ? (training_status.charAt(0).toUpperCase() + training_status.slice(1)) : "Unknown"}}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6" id="leftMenu">
      <div class="row sidenav-option sidenav-hover" (click)="menuSwitch('food')">
        <div class="col-auto">
          <img src="assets/breathe-icons/breathe-food.svg" />
        </div>
        <span>Add Food</span>
      </div>

      <div class="row sidenav-option sidenav-hover" (click)="addWeight()">
          <div class="col-auto">
            <img src="assets/breathe-icons/breathe-scale.svg" />
          </div>
          <span>Enter Weight</span>
      </div>

      <div class="row sidenav-option sidenav-hover" (click)="menuSwitch('settings')">
        <div class="col-auto">
          <img src="assets/breathe-icons/breathe-watch.svg" />
        </div>
        <span>Device Status</span>
      </div>

      <div class="row sidenav-option sidenav-hover" (click)="logout()">
        <div class="col-auto">
          <img src="assets/breathe-icons/logout.png" />
        </div>
        <span>Logout</span>
      </div>

    </div>

    <div class="col-sm-6">
      <div class="row sidenav-option">
        <div class="col-auto">
          <img src="assets/breathe-icons/breathe-help.svg" />
        </div>
        <span>Help &amp; Learn</span>
      </div>
      <div class="row sidenav-hover" (click)="openTab('/static/fe/science.html')">
        <div class="col-10 sidenav-suboption">
          <span>Science</span>
        </div>
      </div>
      <div class="row sidenav-hover" (click)="openTab('/static/fe/device_help.html')">
        <div class="col-10 sidenav-suboption">
          <span>Device Help</span>
        </div>
      </div>
      <div class="row sidenav-hover" (click)="openTab('/static/fe/contact.html')">
        <div class="col-10 sidenav-suboption">
          <span>Contact Us</span>
        </div>
      </div>

      <div class="row sidenav-option">
        <div class="col-auto">
          <img src="assets/breathe-icons/breathe-user.svg" />
        </div>
        <span>Account</span>
      </div>
      <div class="row sidenav-hover" (click)="menuSwitch('settings')">
        <div class="col-10 sidenav-suboption">
          <span>Update Account</span>
        </div>
      </div>
      <div class="row sidenav-hover" (click)="menuSwitch('settings')">
        <div class="col-10 sidenav-suboption">
          <span>Change Goals</span>
        </div>
      </div>
      <div class="row sidenav-hover" (click)="menuSwitch('settings')">
        <div class="col-10 sidenav-suboption">
          <span>Payment Info</span>
       </div>
      </div>
    </div>
  </div>


</div>

<div class="sidenav-overlay" *ngIf="navOpen" (click)="closeNav()"></div>


<div class="container-fluid" id="content" *ngIf="isLoaded">


    <nav class="navbar navbar-expand">
        <a href="/static/fe/index.html"><img class="navbar-brand" src="assets/img/breathe-logo.svg" /></a>
        <div class="mr-auto"></div>
        <div class="navbar-nav pr-sm-2">
            <span class="nav-item nav-link" [ngClass]="{'breathe-active': dashboard}"  (click)="show('dashboard')">Dashboard</span>
            <span class="nav-item nav-link" [ngClass]="{'breathe-active': food}" (click)="show('food')">Food</span>
        </div>
        <div class="d-inline-block navbar-profile" (click)="show('settings')">
          {{userService.user.full_name}}
        </div>

        <div class="d-inline-block menu-icon" (click)="openNav()">
          <div></div>
          <div></div>
          <div></div>
        </div>
    </nav>
    <app-dashboard [ngStyle]="{'display': dashboard ? 'initial' : 'none'}" (switchToFood)="show('food')" (showSubscribeMessage)="openSubscribeModal()"></app-dashboard>
    <app-food [ngStyle]="{'display': food ? 'initial' : 'none'}" (cancel)="show('dashboard')" (showSubscribeMessage)="openSubscribeModal()"></app-food>
    <app-settings [ngStyle]="{'display': settings ? 'initial' : 'none'}"></app-settings>

</div>