/* Global page styles */
#content{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.loader{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #26b2a9;
  -webkit-animation: spin 2s ease-in-out infinite; /* Safari */
  animation: spin 2s ease-in-out infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Dropdown styling */
#dropdownToggle{
  border: none;
  background-color: #005554;
}

#dropdownToggle:hover{
  background-color: #00555381;
}

.dropdown-menu{
  background-color: #444444;
}

.dropdown-item{
  color: #ffffff;
}

.dropdown-item:hover{
  color: #363636;
}


/*Navbar styling*/
.navbar {
    background-color: #26b2a9;
    padding: 1em;
  }
  .navbar .navbar-brand {
    color: #363636;
    width: 10em;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar .navbar-text {
    color: #363636;
  }
  .navbar .navbar-text a {
    color: #ffffff;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #ffffff; 
  }
  .navbar .navbar-nav .nav-link {
    cursor: pointer;
    color: #363636;
    border-radius: .25rem;
    margin: 0 0.25em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ffffff;
    background-color: #26b2a9;
  }
  .navbar .navbar-toggle {
    border-color: #26b2a9;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #26b2a9;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #363636;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #363636;
  }
  .navbar .navbar-link {
    color: #363636;
  }
  .navbar .navbar-link:hover {
    color: #ffffff;
  }