<div class="col-lg-4">
    <h2>Edit User</h2>
    <form>
        <label for="name">Name: </label><br/>
        <input type="text" [(ngModel)]="full_name" name="name">
        <br/>
  
        <label for="gender">Gender: </label><br/>
        <input type="radio" value="male" name="gender" [(ngModel)]="gender"> Male
        <input type="radio" value="female" name="gender" [(ngModel)]= "gender"> Female
        <br/>
  
        <label for="feet">Height: </label><br/>
        <input type="number" [(ngModel)]="feet" name="feet" > feet
        <input type="number" [(ngModel)]="inches" name="inches" > inches
        <br/>
        <ngb-alert [dismissible]="false" *ngIf=heightError>
          <strong>Warning!</strong> Please enter a valid height!
        </ngb-alert>
  
      <!-- Datepicker component -->
      <!-- Input group allows button to be next to input box -->
        <label for="dp">Birth Date:</label>
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="datePicker" [minDate]="minDate" [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker" style="width: auto;">
          <button class="btn btn-outline-secondary input-group-addon" (click)="d.toggle()" type="button">
            <img src="assets/img/calendar_placeholder.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
  
    </form>
    <button (click)="setUser()">Update User</button>
  </div>